<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   
    <link rel="stylesheet" href="<%= ROOT %>assets/themes/default.css">
  </head>
  <body>
    <main-app>
      <i class="center-fix main-spinner fa fa-spin fa-spinner"></i>
    </main-app>

      <!-- build:js assets/bundle.js -->
      <!-- bower:js -->

      <script src="../bower_components/jquery/dist/jquery.js"></script>

      <script src="../bower_components/bootswatch-dist/js/bootstrap.js"></script>

      <!-- endinject -->

      <script src="../node_modules/angular2/bundles/angular2-polyfills.js"></script>
      <script src="../node_modules/systemjs/dist/system.src.js"></script>

 
      <script src="../node_modules/rxjs/bundles/Rx.js"></script>
      <script src="../node_modules/angular2/bundles/angular2.dev.js"></script>
      <script src="../node_modules/angular2/bundles/angular2.js"></script>
      <script src="../node_modules/angular2/bundles/router.dev.js"></script>
      <!-- endbuild -->

    
    <script>
        System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>);

        System.import('app/boot.js').then(null, console.error.bind(console));
    </script>
  </body>
</html>